body{
  height: 100%;
  background-color: #008B8B;
}

.header{padding: 2px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;}

.banner{
  text-align: center;
  color: #fff;}

  .menu ul{
    display: inline-flex;
    margin: 80px;
  }

  .menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
  }
