#games {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#games td, #games th {
  border: 1px solid black;
  padding: 8px;
}

#games tr:nth-child(even){background-color: #f2f2f2;}

#games tr:hover {background-color: #ddd;}

#games th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8B0000;
  color: white;
}
