
<h1>Publishers</h1>
<table id="games">
  <tr>
    <th>Name</th>
    <th>Logo</th>
    <th>Games</th>
  </tr>
  <tr>
    <%for publisher in @publishers%>
    <td><%=publisher.name()%></td>
    <td><%=publisher.logo()%></td>
    <td><%=publisher.game()%></td>
  </tr>
  <% end %>
</table>
