<a href="/publishers/new" class ="btn3"><span>New Publisher</span></a>
<a href="/publishers/quick" class ="btn4"><span>Quick View</span></a>

<h1>Publishers table</h1>
<table id="games">
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th>Games</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <%for publisher in @publishers%>
    <td><%=publisher.name()%><a href="/publishers/<%=publisher.id%>/edit">Edit</a></td></td>
    <td><%=publisher.active()%></td>
  <%for game in publisher.game%>
    <td><%=game.name%></td>
  <% end %>
  </tr>
  <% end %>
</table>
