<a href="/publishers/new" class ="btn3"><span>New Publisher</span></a>
<a href="/publishers" class ="btn4"><span>Table View</span></a>


<p>Here we could add in some more details to the publisher, images, location</p>
